{% extends "base.jinja" %}

{% block content %}
    <h2>Listings</h2>

    {% for form in listing %}
        <p>{{ form.price }}: {{ form.color }} {{ form.year }} {{ form.make }} {{ form.model }}</p>
    {% endfor %}
{% endblock %}